* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;}

.body-login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #BFDBF7, #1F7A8C, #043C5E);
    background-size: 400% 400%;
    animation: gradientShift 15s ease infinite;
}

.body-signup {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #DFD5A5, #1F7A8C, #043C5E);
    background-size: 400% 400%;
    animation: gradientShift 15s ease infinite;
}
@keyframes gradientShift {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-box {
    background-color: #043C5E;
    padding: 30px 30px;
    border-radius: 15px;
    box-shadow: 12px 12px 2px 1px #BFDBF7;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.signup-box {
    background-color: #043C5E;
    padding: 30px 30px;
    border-radius: 15px;
    box-shadow: 12px 12px 2px 1px #DFD5A5;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.header-login {
    color: #BFDBF7;
    margin-bottom: 20px;
    font-size: 24px;
}

.header-signup{
    color: #DFD5A5;
    margin-bottom: 20px;
    font-size: 24px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    color: #053C5E;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #BFDBF7;
    border-radius: 8px;
    font-size: 14px;
    color: #053C5E;
    background-color: #BEDBF7;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #1F7A8C;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #1E7A8C;
    color: #BEDBF7;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.signup{
    background-color: #DFD5A5 !important;
    color: #053C5E;
}
.error-message {
    color: #BEDBF7;
}

button:hover {
    background-color: #1F7A8C;
    color: #fff;
}
.redirect-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: 5px;
}
a {
    color: #BEDBF7;
}